
<div class="container">
    <div class="mainForm mainForm_logInn">

        <h2 class="form-login-heading">HIPER</h2>
        <div class="row">
            <h4 class="col-xs-8 col-xs-offset-2 text-center">
                <strong>
                    To complete the registration, please confirm with the link in the email
                    we sent. If you haven`t received this email within 5 minutes,
                    Click this button to send an email to {{userName}} again.
                </strong>
            </h4>
        </div>
        <br />
        <div class="mainForm__inner">

            <button class="btn btn-md btn-info btn-block btn-white form-control mainForm__button" ng-click="resendConfirmation()">{{"Login.Resend" | translate}}</button>

        </div>

    </div>
</div>