<div class=" goal">

    <textarea ng-disabled="editEnabled()" type="text" class="customInput form-control goal__helper goal__item_title" placeholder="Title" data-ng-model="goal.title" placeholder="DESCRIPTION..."></textarea>
    <textarea ng-disabled="editEnabled()" type="text" data-ng-model="goal.description" class="customInput form-control goal__helper goal__item_descr" placeholder="DESCRIPTION..."></textarea>
    <div class="goal__helper">

        <div  ng-repeat="option in typesOfGoals.options track by option.id">
            <input ng-disabled="editEnabled()" type="radio" class="customCheckBox" ng-value="option" ng-model="typesOfGoals.selected" id="{{option.name}}" name="num"><label class="form-control goal__checkLine" for="{{option.name}}">{{'TypeOfGoal.'+option.name|translate}}</label>
        </div>
    </div>
    <div class="goal__helper">
        <input ng-disabled="checkIsNumber()" type="number" class="form-control goal__reach" data-ng-model="goal.reachedAmount" placeholder='{{"Goal.Reached" | translate}}'>
        <input ng-disabled="editEnabled()" type="number" class="form-control goal__dest goal__dest_red" data-ng-model="goal.targetAmount" placeholder='{{"Goal.Total" | translate}}'>
    </div>

    <div class="goal__helper">
        <div ng-repeat="option in repeats.options track by option.id">
            <input ng-disabled="editEnabled()" type="radio" class="customCheckBox" ng-value="option" ng-model="repeats.selected" id="{{option.name}}" name="repeats"><label class="form-control goal__checkLine" for="{{option.name}}">{{'Repeats.'+option.name|translate}}</label>
        </div>

    </div>

    <div class="goal__helper">
        <input onkeydown="return false" ng-disabled="editEnabled()" type="text" class="form-control goal__date" ng-click="open($event)" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="goal.deadLine" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, false)" ng-required="true" close-text="Close" />
    </div>

    <div class="goal__helper goal__helper_hips">
        <span class="hipes__text">HIPES</span>
        <div class="teams__hipes" ng-if="goal.hipes > 0">
            {{goal.hipes}}
        </div>
    
    </div>

    <div class="goal__helper">
        <div ng-repeat="option in statusOfGoals.options track by option.id">
            <input  type="radio" class="customCheckBox" ng-value="option" ng-model="statusOfGoals.selected" id="{{option.name}}" name="status"><label class="form-control goal__checkLine" for="{{option.name}}">{{'StatusOfGoal.'+option.name|translate}}</label>
        </div>
    </div>
    <div class="goal__helper teams__text" ng-if="showTeamList()">
        <ul class="teams__checkboxes">
            <li class="teams__title" ng-repeat="user in participants track by $index">
                <input value="{{user.userName}}" ng-checked="participantsSelected.indexOf(user.userName) > -1" ng-click="toggleSelectionRemove(user.userName)" type="checkbox" class="customCheckBox customCheckBox_teams customCheckBox_orange" name="{{user.userName}}" id="{{user.userName}}" class="customCheckBox customCheckBox_teams customCheckBox_orange">
                <label for="{{user.userName}}"><span>{{user.firstName}}</span> <span>{{user.lastName}}</span></label>
            </li>
        </ul>
    </div>

    <div class="goal__helper">
        <button ng-disabled="clickedSave" class="btn btn-white form-control goal__button" type="button" ng-click="updateGoal()">SAVE</button>
        <button class="btn btn-white form-control goal__button" type="button" ng-click="cancel()">ABORT</button>
    </div>







</div>