<form role="form" class="mainForm mainForm_logInn" ng-submit="login()">

    <h2 class="form-login-heading">HIPER</h2>
    <div class="mainForm__inner">


        <input type="text" class="form-control" placeholder='{{"Login.Login" | translate}}' data-ng-model="loginData.userName" required autofocus>
        <input type="password" class="form-control" placeholder='{{"Login.Password" | translate}}' data-ng-model="loginData.password" required>

        <button class="btn btn-md btn-info btn-block btn-white form-control mainForm__button" type="submit" value="Submit">{{"Login.Submit" | translate}}</button>

        <a href="#/signup" class="btn btn-md btn-block btn-white mainForm__button mainForm__button_create">{{"Login.CreateUser" | translate}}</a>

        <div ng-show="passwordWrong">
            If you forgot you password, you can write your account`s email and reset password
            <input type="text" class="form-control" placeholder="EMAIL.." data-ng-model="reset.email">
            <a class="btn btn-md btn-info btn-block mainForm__button form-control" ng-click="resetPassword()">{{"Login.ResetPassword" | translate}}</a>
        </div>
        <div data-ng-hide="message == ''" data-ng-class="(!passwordWrong) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </div>

</form>