

<form class="mainForm mainForm_logInn" role="form">
    <h2 class="form-login-heading ">HIPER</h2>
    <div class="mainForm__inner">
        <button class="btn btn-lg btn-white btn-block mainForm__button_create mainForm__button" type="submit" data-ng-click="createTeamBuisiness()">{{'CreateJoinTeam.CREATEBUISINESS' | translate}}</button>
        <button class="btn btn-lg btn-white btn-block mainForm__button_create mainForm__button" type="submit" data-ng-click="createTeamStartup()">{{'CreateJoinTeam.CREATESTARTUP' | translate}}</button>
        <button class="btn btn-lg btn-white btn-block mainForm__button_create mainForm__button" type="submit" data-ng-click="joinTeam()">{{'CreateJoinTeam.JOINTEAM' | translate}}</button>
        <button class="btn btn-lg btn-white btn-block mainForm__button_create mainForm__button" type="submit" data-ng-click="joinLater()">{{'CreateJoinTeam.JOINLATER' | translate}}</button>
    </div>
    <p></p>
    <p class="text-center"><strong>*A startup team can have max 5 members</strong></p>
</form>