/* Sticky footer styles
-------------------------------------------------- */
html
{
    height: 100%;
}

body
{
    height: 100%;
    background: #eedbd8;
    
}
/*.ng-scope
{
    height: 100%;
}*/
.bg_white
{
    background: #fff;
    height: 100%;
}
.wrapper
{
    box-sizing: border-box;
    min-height: 100%;
    padding-top: 110px;
    padding-bottom: 50px;
   
}
/*----COMMON----*/
.button
{
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    vertical-align: middle;
}
.button_whiteRed
{
    background-color: #fff;
    border: solid #ff6666;
    color: #000;
}
.button_whiteRed:hover
{
    background-color: #ff6666;
    color: #fff;
}
.customCheckBox + label
{
    position: relative;

    display: inline-block;

    cursor: pointer;
}

.customCheckBox:not(checked)
{
    position: absolute;

    opacity: 0;
}
.customCheckBox:not(checked) + label:before
{
    display: inline-block;

    content: '';

    -webkit-transition: background .3s linear;
       -moz-transition: background .3s linear;
         -o-transition: background .3s linear;
            transition: background .3s linear;
}
.customCheckBox:checked + label:after
{
    opacity: 1;
}
.customCheckBox_orange + label:before
{
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
}
.customCheckBox_orange + label:hover:before
{
    background: #cccccc;
}
.customCheckBox_orange:checked + label:before
{
    background: #ff7562
}
.customCheckBox_teams + label:before
{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}
.customCheckBox_sq + label:before
{
    border-radius: 0px;
}
.customInput::-webkit-input-placeholder {color:#999999; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}
.customInput::-moz-placeholder          {color:#999999; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}/* Firefox 19+ */
.customInput:-moz-placeholder           {color:#999999; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}/* Firefox 18- */
.customInput:-ms-input-placeholder      {color:#999999; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}
textarea.customInput:focus::-webkit-input-placeholder
{
    opacity: 0;
}
textarea.customInput:focus::-moz-placeholder
{
    opacity: 0;
}
textarea.customInput:focus:-moz-placeholder
{
    opacity: 0;
}
textarea.customInput:focus:-ms-input-placeholder
{
    opacity: 0;
}
.header
{
    position: fixed;
    z-index: 4;
    top: 0;

    width: 100%;
}
.header__top
{
    padding: 4px 0;

    background: rgb(204,204,204);
    background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(188,187,188,1) 9%, rgba(158,158,157,1) 24%, rgba(46,46,45,1) 74%, rgba(12,12,12,1) 91%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(188,187,188,1) 9%,rgba(158,158,157,1) 24%,rgba(46,46,45,1) 74%,rgba(12,12,12,1) 91%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(188,187,188,1) 9%,rgba(158,158,157,1) 24%,rgba(46,46,45,1) 74%,rgba(12,12,12,1) 91%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#000000',GradientType=0 );

}
.logo
{
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;

    -webkit-transition: color .3s linear;
       -moz-transition: color .3s linear;
         -o-transition: color .3s linear;
            transition: color .3s linear;

    color: #ff7562;
}
.logo img
{
    display: inline-block;

    margin-right: 25px;

    vertical-align: sub;
}
.header__bottom
{
    padding: 1px 0px;
    border-style: solid;
    border-color: #000;
    background: #959595;
    border: 0px;
}
.header__log
{
    float: right;

    margin-top: 6px;
    margin-bottom: 0;
    padding-left: 0;
}
.header__log li
{
    display: inline-block;

    vertical-align: middle;
}
.header__log li + li
{
    margin-left: 15px;
}
.header__log a
{
    font-size: 16px;
    font-weight: 600;

    display: block;

    -webkit-transition: color .3s linear;
       -moz-transition: color .3s linear;
         -o-transition: color .3s linear;
            transition: color .3s linear;
    text-transform: uppercase;

    color: #fff;
}
.header__log a:hover
{
    text-decoration: none;

    color: #ff7562;
}
.header__nav
{
    position: relative;
    z-index: 1;

    width: 568px;
    margin: 0 auto;

    text-align: center;
}
.header__navItem
{
    font-size: 20px;
    font-weight: 600;

    display: inline-block;

    padding: 5px 40px;

    -webkit-transition: background .3s linear;
       -moz-transition: background .3s linear;
         -o-transition: background .3s linear;
            transition: background .3s linear;
    vertical-align: top;

    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
}
.header__navItem:hover
{
    text-decoration: none;

    color: #000;
    background-color: #ff7562;
}
.header__navItem_active,
.header__navItem:focus
{
    text-decoration: none;

    color: #000;
    background-color: #ff7562;
}

#footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;

    background-color: #f5f5f5;
}

.text-muted
{
    margin: 20px 0;
}

.form-login
{
    max-width: 330px;
    margin: 0 auto;
    padding: 0 15px 5px 15px;
}
.form-login .form-control
{
    font-size: 16px;

    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.form-login .form-control:focus
{
    z-index: 2;
}


.mainForm
{
    text-align: center;
}
.mainForm_logInn, .mainForm_joinTeam
{
    padding-top: 100px;
}
.mainForm__inner
{
    width: 420px;
    margin: 0 auto;
}
.form-login-heading
{
    font-size: 5em;
    font-weight: 600;
    margin: 0 0 0.1em;
    text-align: center;

    color: #f66;
}
.mainForm .form-control
{
    font-size: 1.2em;
    font-weight: 600;

    height: 2.6em;

    text-align: center;

    border-width: 2px;
}
.mainForm textarea.form-control
{
    height: 4em;
    padding: 1em 0.8em;
}
.mainForm .form-control + .form-control
{
    border-top: 0;
}
.mainForm .form-control::-webkit-input-placeholder
{
    font-family: 'Oen Sans', sans-serif;
    font-weight: 600;

    transition: all .3s linear;
    text-indent: 0;

    color: #999;
}
.mainForm .form-control::-moz-placeholder
{
    font-family: 'Oen Sans', sans-serif;
    font-weight: 600;

    transition: all .3s linear;
    text-indent: 0;

    color: #999;
}
.mainForm .form-control:-moz-placeholder
{
    font-family: 'Oen Sans', sans-serif;
    font-weight: 600;

    transition: all .3s linear;
    text-indent: 0;

    color: #999;
}
.mainForm .form-control:-ms-input-placeholder
{
    font-family: 'Oen Sans', sans-serif;
    font-weight: 600;

    transition: all .3s linear;
    text-indent: 0;

    color: #999;
}
.mainForm input.form-control:focus::-webkit-input-placeholder
{
    text-indent: 900px;
}
.mainForm input.form-control:focus::-moz-placeholder
{
    text-indent: 900px;
}
.mainForm input.form-control:focus:-moz-placeholder
{
    text-indent: 900px;
}
.mainForm input.form-control:focus:-ms-input-placeholder
{
    text-indent: 900px;
}

.btn
{
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.btn-white
{
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-weight: 600;
}
.btn-white:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #000 !important; /* цвет текста */
}
.btn-white:hover, .btn-white:focus, .btn-white_active, .btn_white_active
{
    background: #ff7562;
    color: #fff;
    border-color: #ff7562;
}
.mainForm__button
{
    font-size: 1.2em;
    font-weight: 600;
    padding: 0px;
    height: 2.6em;
    line-height: 2.6em;

    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;

    border-width: 2px;
    border-color: #f66;
}
a.mainForm__button_remove, a.mainForm__button_add
{
    padding: 0px;
    margin: 15px 0.5em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    line-height: 2em;
    height: 2em;
    width: 2em;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #6f6f6f;
    border: 2px solid #ff6666;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.mainForm__button_removeText
{
    margin: 15px 0.5em;
    padding: 0 15px;
}
a.mainForm__button_remove:hover, a.mainForm__button_add:hover, .mainForm__button:hover
{
    text-decoration: none;
    background: #ff6666;
    color: #fff;
}

.mainForm__submit
{
    color: #fff;
    border-color: #f66;
    background-color: #ff7562;
}
.form-control + .mainForm__submit
{
    border-top: 0;
}
.mainForm__submit:hover,
.mainForm__submit:focus
{
    color: #f66;
    border-color: #f66;
    background-color: #fff;
}
.mainForm__button_create
{
    margin-top: 35px;
    margin-bottom: 35px;
}


.mainForm_fileMask
{
    font-family: 'Oen Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 5em;

    position: relative;
    z-index: 1;

    display: inline-block;
    overflow: hidden;

    min-width: 9em;
    max-width: 100%;
    min-height: 5em;
    margin: 0.5em auto;

    cursor: pointer;
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
    text-align: center;

    color: #999;
    border: 2px solid #f66;
    background: #fff;
}
.mainForm_fileMask img
{
    max-width: 100%;
    height: auto;
}
.mainForm_fileMask img + span
{
    font-size: 0px;
}
.mainForm_fileMask:hover
{
    color: #fff;
    background-color: #ff7562;
}
.mainForm_fileMask input
{
    font-size: 1px;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    opacity: .01;
}
.teams
{
    padding-left: 0;
    margin-bottom: 0px;
    list-style: none;
}
.teams__check
{
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -12px;
}
.teams__avatar
{
    
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
    width: 84px;
    min-height: 44px;
    background: #fff;
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
}
.teams__avatar:hover
{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,102,102,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,102,102,.6);
}
.teams__avatar img
{
    display: block;
    width: 100%;
    height: auto;
}
.teams__text
{
    font-size: 14px;

    padding: 0.6em;

    border: 1px solid #000;
    background: #fff;

    font-weight: 600;
    position: relative;
}
.teams__text_borderGray
{
    border-color: #959595;
}
.teams__text_lightGray
{
    background-color: #e8e8e8;
}
.teams__text_lightGray + div
{
    background-color: #e8e8e8;
}
.teams__text_gray
{
    color: #959595;
}
.teams__text_right.teams__text_wide
{
    margin-left: 84px;
}
.teams__text_right.teams__text_normal
{
    margin-right: 144px;
}
.teams__text_hiperRight
{
    padding-right: 60px;
    min-height: 75px;
}
.teams__datFrom
{
    font-weight: 600;
    position: absolute;
    right: 0px;
    top: -25px;
}
.teams__name
{
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 600;

    color: #f66;

    margin-bottom: 0px;
    margin-top: 0px;
    word-wrap: break-word;
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;

}
.teams__name:hover
{
    text-shadow: 0px 0px 8px rgba(255,102,102,.6);
}
.teams__nickName
{
    font-size: 1em;
    margin-bottom: 0.3em;

    color: #f66;
    word-wrap: break-word;

}
.teams__title
{
    color: #000;
    font-size: 0.8em;
    margin-bottom: 0.4em;
    word-wrap: break-word;

}
.teams__title label
{
    font-weight: 600;
    font-size: 1em;
    display: block;
}
.teams__title label::before
{
    width: 14px;
    height: 14px;
    margin-top: -6px;
}
.teams__description
{
    font-weight: 400;
}
.teams__time
{
    position: absolute;
    right: 0px;
    top: -26px;
    text-align: right;
    font-size: 14px;
}
.teams__typeDescr
{
    margin: 0px 0 0.5em;
    font-size: 0.8em;
    word-wrap: break-word;
}
.teams__descr
{
    word-wrap: break-word;
}
.teams__amount + .teams__amount
{
    
    margin-left: 10px;
}
.teams__amount_reached {
   
        font-size: 0.8em;
    
}
.teams__amount_target
{
    color: #f66;
     font-size: 14px;

}
.teams__hipes
{
   
    position: absolute;
    right: 10px;
    bottom: 0px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
    min-height: 64px;
    font-weight: 600;

}
.teams__hipes:before
{
    content: "H";
    display: block;
    font-size: 32px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #ff6666;
    margin-bottom: 3px;
    color: #ff6666;
    line-height: 45px;
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;

}
.teams__hipes_hiped:before, .teams__hipes:hover:before
{
    background: #ff6666;
    color: #fff;
}
.teams__hipes_hiped:before
{
    cursor: not-allowed;
}
.teams__edit
{
    display: block;
    width: 84px;
    font-size: 14px;
    height: 36px;
    padding: 0px;
}
.teams__edit_lang
{
    height: 46px;
    overflow: hidden;
}
.teams__edit_lang img
{
    width: 100%;
    overflow: hidden;
}
.teams__goals, .teams__checkboxes
{
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}
.teams__checkboxes li + li
{
    margin-top: 0.5em;
}
.teams__deadline
{
    width: 144px;
    /*overflow: hidden;*/
    font-size: 16px;

    padding: 0px 12px;

    border: 1px solid #000;
    background: #fff;

    font-weight: 600;
    position: relative;
    margin: -1px 1px -1px auto;

}
.teams__deadline_status
{
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}
.teams__deadline_val 
{
    font-size: 2em;
    min-width: 2em;
    display: inline-block;
    text-align: center;
}
.teams__deadline_tooLate
{
    display: block;
    line-height: 3em;
    text-align: center;
    color: #959595;
}
.teams__deadline_last
{
    display: block;
    line-height: 3em;
    text-align: center;
 
}

.sidebar__item
{
    padding: 5px 15px;

    border: 1px solid #000;
    border-radius: 2px;
    background: #fff;
    margin-bottom: 20px;
}
.sidebar__item_profile
{
    text-align: center;
}
.sidebar__title
{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 0.5em;
    text-align: center;
}
.sidebar__avatar
{
    width: 110px;
    min-height: 50px;
    /*max-height: 110px;*/
    margin: 10px auto 10px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;
}
.sidebar__avatar:hover
{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,102,102,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,102,102,.6);
}
.sidebar__avatar img
{
    max-width: 100%;
    height: auto;
}
.sidebar__link
{
    border-width: 2px;
    border-color: #ff7562;
    padding: 4px;
    font-size: 0.9em;
}
.sidebar__link_active
{
    background-color: #ff7562;
    color: #000;
}
.filter__form
{
    padding-left: 0px;
    margin: 0 15px;
    list-style: none;
    text-align: center;
    font-weight: 600;
}
.filter__form label
{
    font-size: 14px;
    font-weight: 600;

}
.filter__form .ngrs-range-slider
{
    border: 0px;
}
.filter__form .ngrs-range-slider:focus
{
    box-shadow: none;
}
.customInput_sidebar
{
    background: #cccccc;
    border: 2px solid #000;
    height: 25px;
    padding: 0 10px;
}
.customInput_sidebar:focus
{
    background: #fff;
}
.udates
{
    padding: 10px 10px 15px;
    min-height: 80vh;
}
.sidebar__title_updates
{
    text-align: left;
    padding: 0 5px;
}

.udates__item
{
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #000;
    padding: 8px 4px;
    font-size: 0.8em;
    font-weight: 600;
}
.udates__item + .udates__item
{
    border-top: 0px;
}
.udates__title
{
    font-size: 1em;
    color: #ff7562;
    font-weight: 600;
    margin: 5px 0;
}
.chooseTeam
{
    font-size: 0.8em;
    font-weight: 600;

    padding-left: 0;

    list-style: none;
}
.chooseTeam__item
{
    padding: 0.6em;

    cursor: pointer;
    -webkit-transition: color .3s linear;
       -moz-transition: color .3s linear;
         -o-transition: color .3s linear;
            transition: color .3s linear;

    border-width: 2px;
    border-style: solid;
    border-color: #000;
}
.chooseTeam__item:hover, .chooseTeam__item_diasabled
{
    color: #959595;
}

.chooseTeam__item p
{
    margin-bottom: 0;

    text-transform: uppercase;
}
.chooseTeam  .chooseTeam__item:nth-child(odd)
{
    border-width: 2px 0 2px 2px;
}
.chooseTeam  .chooseTeam__item:nth-child(even)
{
    border-width: 0 2px 0 0;
}
.chooseTeam .chooseTeam__item:last-child
{
    border-bottom-width: 2px;
}
.chooseTeam__item_active
{
    color: #ff7562;
}
.goal__helper
{
    width: 50%;
    border: 1px solid #000;
    background: #fff;
    font-weight: 600;
    color: #000;
    overflow: hidden;
    display: block;
}
.goal__helper:nth-child(even)
{
    margin: -1px 1px -1px auto;
}
textarea.goal__helper
{
    resize: vertical;
}
.goal__item_title
{
    height: 40px;
}
textarea.goal__item_descr
{
    height: 140px;
}
.goal__checkLine
{
    margin-bottom: 0px;
    border-width: 2px;
    font-weight: 600;
    color: #000;
    border-color: #fff;
    margin-bottom: 1px;
}
.customCheckBox:checked + .goal__checkLine
{
    background: #fff;
    border-color: #ff6666;
}
.goal__reach, .goal__dest
{
    text-align: center;
    color: #000;
    border-width: 2px;
    padding: 0px;
    border-color: #eee;
}
.goal__dest_red
{
    background: #ff6666;
}
.goal__date
{
    line-height: 1.2em;
    font-size: 20px;
    height: 45px;
    text-align: center;
    color: #000;
}
.goal__date::-webkit-input-placeholder {color:#999999; font-size: 15px; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}
.goal__date::-moz-placeholder          {color:#999999; font-size: 15px; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}/* Firefox 19+ */
.goal__date:-moz-placeholder           {color:#999999; font-size: 15px; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}/* Firefox 18- */
.goal__date:-ms-input-placeholder      {color:#999999; font-size: 15px; font-family: "Open Sans"; font-weight: 600; transition: all .3s linear;}
.goal__date:focus::-webkit-input-placeholder
{
    opacity: 0;
}
.goal__date:focus::-moz-placeholder
{
    opacity: 0;
}
.goal__date:focus:-moz-placeholder
{
    opacity: 0;
}
.goal__date:focus:-ms-input-placeholder
{
    opacity: 0;
}
.goal__button
{
    font-size: 1em;
    height: 2.2em;
    width: 50%;
    border: 2px solid #ff6666;
    float: left;
    font-weight: 600;
    color: #000;
    padding: 0px;
}
.goal__helper_hips
{
    font-size: 27px;
    font-weight: 600;
    position: relative;
}
.goal__helper_hips .hipes__text
{
    line-height: 78px;
    display: inline-block;
    margin-left: 18px;
}
.goal__helper_hips .teams__hipes
{
    font-size: 16px;
    margin: 8px 10px 0 0;
}
#dynamicpie .c3-legend-item
{
    display: none;
}

.scoreboard__stats
{
    font-size: 1em;
    font-weight: 600;
}
.scoreboard__stats_achived
{
    color: #ff7562;
}
.scoreboard__stats_notAchivedGoals
{
    color: #959595;
}
.scoreboard__stats_canceled
{
    color: #fff;
}
.scoreboard__trigger
{
    cursor: pointer;
}
.scoreboard__trigger:before
{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}
/*POPUP*/
.modal-dialog
{
    display: table;
    width: 100%;
    height: 100%;
}

.modal-content
{
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    box-shadow: none;
   
}
.popUp
{
    border: 2px solid #000;
    background-color: #ebebeb;
    
    margin: 0 auto;
    height: auto;
    width: 380px;
}
.popUpExtended
{
    border: 2px solid #000;
    background-color: #ebebeb;
    
    margin: 0 auto;
    height: auto;
    width: 800px;
}
.modal-footer
{
    border: 0px;
    text-align: center;
    padding: 0px 0 30px;
}

.modal-body
{
    padding: 40px 15px 15px;
    font-weight: 600;
    font-size: 16px;

}
.modal-body h3
{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 600;
}
.modal-body h3.text-center
{
    font-size: 20px;
}
.popUp__button
{
    background-color: #fff;
    border: 2px solid #ff6666;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
}
.popUp__button_array
{
    font-size: 18px;
    line-height: 39px;
    height: 40px;
    width: 40px;
    margin: 10px 0;
    border-width: 1px;
}
.center-block.popUp__button_array
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.popUp__checkboxes
{
    padding-left: 0px;
    list-style: none;
    font-size: 19px;
    font-weight: 600;
}
.popUp__checkboxes label
{
    display: block;
    font-size: 19px;
    font-weight: 600;
    min-height: 25px;

}
.popUp__checkboxes_small, .popUp__checkboxes_small label
{
    font-size: 16px;
}
.popUp__checkboxes li
{
    position: relative;
}
.popUp__checkboxes li + li
{
    margin-top: 15px;
}

.chartTable
{
    overflow: auto;
    text-align: center;
    margin: 0 -10px;
    padding: 0 10px;
}

.chartTable th:nth-child(even)
{
    background: #d3d3d3;
}
.chartTable__arrow
{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    -webkit-transition: border-color .3s linear;
    -moz-transition: border-color .3s linear;
    -o-transition: border-color .3s linear;
    transition: border-color .3s linear;

}
.chartTable__arrow_right:hover
{
    border-left-color: #ff6666;
}
.chartTable__arrow_left:hover
{
    border-right-color: #ff6666;
}
.chartTable__arrow_right
{
    right: -5px;
    border-width: 14px 0 14px 18px;
    border-color: transparent transparent transparent #000000;
}
.chartTable__arrow_left
{
    left: -5px;
    border-width: 14px 18px 14px 0;
    border-color: transparent #000000 transparent transparent;
}
.chartTable th:nth-child(2) .chartTable__arrow
{
    display: block;
}
.chartTable table > tbody > tr td:nth-child(even)
{
    background: #e5e5e5;
}

.chartTable table > tbody > tr:nth-child(odd) td:first-child
{
    border-left: 1px solid #898989;
    border-color: 1px solid #898989;

}

.chartTable table > tbody > tr > td, .chartTable table > thead > tr > th {
    border-color: #898989;
    border-width: 1px;
    max-width: 90px;
    text-align: center;
    position: relative;
}
.chartTable table > tbody > tr th:first-child, .chartTable table > tbody > tr td:first-child {
    text-align: right;
    white-space: nowrap;
    width: 230px;
}
.chartTable__time
{
    margin: 20px 0;
}
.chartTable__sort
{
    font-size: 12px;
    padding: 8px;
    width: 220px;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    font-weight: 600;
}